In [5]:
import os as os
import numpy as np
import matplotlib.pyplot as plt
import keras
from keras.models import Sequential
from keras.optimizers import Adam
from keras.layers import Conv2D,MaxPooling2D,Dropout,Flatten,Dense
import cv2
import pandas as pd
import random

In [11]:
# datadirectory='http://localhost:8888/tree/datas'

In [8]:
columns=['center','left','right','steering_angle','throttle','reverse','speed']
data=pd.read_csv('',names=columns)
data.head()

                                center left right  ... throttle  reverse  speed
0                      <!DOCTYPE HTML>  NaN   NaN  ...      NaN      NaN    NaN
1                               <html>  NaN   NaN  ...      NaN      NaN    NaN
2                               <head>  NaN   NaN  ...      NaN      NaN    NaN
3               <meta charset="utf-8">  NaN   NaN  ...      NaN      NaN    NaN
4      <title>Jupyter Notebook</title>  NaN   NaN  ...      NaN      NaN    NaN

[5 rows x 7 columns]